@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto&display=swap');

/* colors : mid: #494E6B ; neutral: #98878F ; subtle contrast: #985E6D ; stark contrast: #B82601; dark: #192231 */ 

body{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #192231;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*---------------------------------------------------------------->>>>  LOGO */
.nav-logo {
    padding: 0;
}


.logo-container {
    display: flex;
    width: 100%;
    background-color: #192231;
}

.logo-box {
    font-family: "Cinzel", sans-serif;
     font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 30px;
    text-shadow: 0 2px 1px #000;
   }

.hedgehog {
    color: #B82601;
    text-align: center;
    font-size: 3rem;
}

.shop {
    color: #98878F;
    font-size: 1rem;
}


/*---------------------------------------------------------->>>>  NAVIGATION */
.navigation-header {
    padding-top: 15px;
}
 
nav .nav-wrapper ul li a {
    float: right;
    text-decoration: none;
    list-style: none;
}

.nav-wrapper ul li a:hover{
    color: #98878F; 
    opacity: 0.7;
    transition: 1s;
    text-shadow: 2px 4px 8px #000;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
   padding: 25px 0;
}



nav ul li:not(:first-child){
    margin-left: 48px;
    }

    nav ul li:last-child{
    margin-right: 28px;
    }

nav ul li a {
    display: inline-block;
    color: #fff;
    font-family: "Cinzel", sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 0 2px 1px #000;
}




/*----------------------------------------------------------------------*/
/*------------------------------------------------NAVIGATION-BAR-Media Query*/



@media screen and (max-width: 993px) {
    nav {
        padding: 10px 10px;
    }
    .logo-box
    {
        padding-left: 15px;
    }
    
nav ul li{
    padding: 12px 5px;
}

.nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #192231;
        z-index: -1;
        opacity: 0;
        transition: all 0.2s ease;
    }        

.nav-wrapper ul{
         position: absolute;
         top: 30%;
         transform: translateY(-50%);
        }


     
.nav-wrapper ul li {
        display: block;
        width: 100%;
        float: none;
        text-align: right;
        margin-bottom: 10px;
    }
/*-------------------------------------------------------------------------*/
/*--------------------------------------------------------Drop-down Sequence*/

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.6s;
    }

   nav ul li:not(:first-child){
    margin-left: 0;
   }    

.nav-wrapper ul li a {
    padding: 10px 22px;
    color: #FFF;
    font-weight: 14px;
    letter-spacing: 1.2px;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.2s ease;
}

.nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        width: 48px;
        height: 48px;
        display: block;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
}

    .nav-btn i {
        display: block;
        width: 40px;
        height: 3px;
        background: #985E6D;
        border-radius: 2px;
        margin-left: 5px;
    }

    .nav-btn i:nth-child(1){
        margin-top: 24px;
    }
    .nav-btn i:nth-child(2){
        margin-top: 4px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3){
        margin-top: 4px;
    }

}
/*-------------------------------------------------------------------------*/
/*----------------------------------------------------------BurgerIcon setting*/


#nav:checked + .nav-btn{
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i{
    background: #985E6D;
    transition: all 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(7px) rotate(180deg);
}
#nav:checked + .nav-btn i:nth-child(2) {
    opacity:0;
}
#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-7px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}



/*-------------------------------------------------------------------------*/
/*----------------------------------------------------------INDEX.HTML*/



.hero-image {
    background: url("../image/barbershop.jpg");
    position: relative;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 3s ease-in-out;
    background-position: center;
  

}

.front-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-family: "Cinzel", sans-serif;
    text-transform: uppercase;
}

.hero-text .intro-text { 
    font-size: 0.75rem;
    font-style: italic;
    letter-spacing: 5px;
    text-shadow: 2px 3px 1px #000;
    padding: 5px 15px;
    display: inline-block;
}

.hero-text .intro-desc {
    margin: 0.75rem;
    display: flex;
    flex-direction: column;
    font-size:1rem;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 3px;
}

.hero-text i {
    font-size: 10px;
    color: #B82601;
}

.book-btn {
     color: #fff;
    padding: 6px 15px 6px 15px;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 2px;
    background: #494E6B;;
    border: 1px solid #000;
    text-transform: uppercase;
   }

.book-btn:hover {
    background-color: #494E6B;
     text-decoration: none;
}

.hero-text a:hover {
    color: silver;
}

.book-btn:active {
  background-color: rgb(37, 40, 53);
  box-shadow: 1px 4px rgb(41, 1, 1);
  transform: translateY(4px);
}

/*-------------------------------------------------------------------------*/
/*----------------------------------------------------------SERVICES.HTML*/

.hero-image2 {
    background: url("../image/scissors2.jpg");
    position: relative;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 3s ease-in-out;
    background-position: center;
    padding-top: 20px;
    overflow: hidden;

}

.menu-box {
    min-height: 100vh;
    width: 100%;
    margin-bottom: 10px;
   }


.mktg-text {
    max-height: 100%;
    width: 100%;
}
.mktg-text .middle {
    text-align: center;
    color: #B82601;
    font-family: "Cinzel", sans-serif;
    font-size: 18px;
     font-weight: bolder;
    text-shadow: 1px 1px 1px #000;
    line-height: 2;
    padding: 0;
}

.shop2 {
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2px;
     text-shadow: 1px 2px 1px #000;
}

.middle span{
    text-align: center;
}

.services-hdr{
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.middle i {
    font-size: 1.75rem;
    color: #B82601;
    letter-spacing: 3px;
}

.list{
    color: #fff
}
.middle a:hover {
    color: silver;
}


/*-----------Test Page------------------------------------------------*/
.main-outer .row {
    display: flex;
   align-items: center;
   margin: 30px auto;
}

.row-1 {
     background-color: #FF3B3F;
     padding: 15px;
     border-radius: 8px;
     box-shadow: 8px 7px 4px #a59e8e;
     margin: 0 9px;
}

.pole-pic{
     max-width: 300px;
     height: auto;
     }

.row-2 {
      background-color: #A9A9A9;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 8px 7px 4px #a59e8e;
}

.row-3 {
    background-color: #d4af37;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 8px 7px 4px #a59e8e;
}


.intro-pic img {
    max-height: 200px;
     box-shadow: 3px 5px 6px #565b5d ;
}

.intro-pic2 img{
    max-height: 200px;
}

.intro-text {
    padding: 0 20px;
    color: #282828;
}

.intro-text p {
    font-weight: 500;
}

.intro-text li  {
     list-style: none;
}

.intro-text li a {
    color: darkblue;
    font-weight: bolder;
    list-style: none;
}

.intro-text span a {
    color: darkblue;
    font-weight: bolder;
}

.intro-text .header1 b {
    font-size: 110%;
}

.intro-text2 {
    padding: 0 20px;
    color: #282828;

}

.intro-text2 li  {
     list-style: none;
}

.intro-text2 li a {
    color: darkblue;
    font-weight: bolder;
    list-style: none;
}

.intro-text2 span a {
    color: #282828;
    font-weight: bolder;
}

/*-------------------------------------------------------------------------*/
/*----------------------------------------------------------EXPERIENCE.HTML  */




.hero-image3 {
    background: url("../image/experience.jpg");
    background-attachment: fixed;
        background-repeat: no-repeat;
    background-size: cover;
    transition: all 3s ease-in-out;
    background-position: center;
    padding-top: 20px;
   }

   .outer-container {
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-direction: column;
       height: 100vh;
   }
   .display-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-bottom: 30px;    
}
.meet {
    align-content: center;
    position: relative;
}

.team {
    font-family: "Cinzel", sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    text-justify: center;
    letter-spacing: 3px;
}

.meet .team2 {
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    color: #B82601;
    text-align: center;
    text-justify: center;
    text-shadow: 0px 1px 1px #fff;
    letter-spacing: 2px;
}
.glry-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}



.card {
    height: 300px;
    width: 300px;
    background-color: #313333;
    transform: scale(0.7);
    border-radius: 8px;
    box-shadow: 0 0 80px 1px #FF3B3F;
}

.info {
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
}

.barber {
    font-family: "Cinzel", sans-serif;
     font-size: 1.25rem;
    font-weight: bolder;
    color: #CAEBF2;
    text-shadow: 0px 0px 2px #26272b;
    position: absolute;
    top: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.cuts {
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: skyblue;
    position: absolute;
    top: 60px;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #26272b;
}

.divider {
    background-color:#FF3B3F;
    height: 1.5px;
    width: 50px;
    position: absolute;
    top: 90px;
}

.bio {
     position: absolute;
    top: 100px;
    color: #CAEBF2;
    line-height: 28px;
    font-size: 1rem;
    text-align: center;    
}

.card-btn {
     position: absolute;
    bottom: 10px;
    background-color: #fff;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    padding: 8px 20px; 
    cursor: pointer;
    color: #000;
    text-transform: uppercase;
}

.pic1 {
    height: 100%;
    width: 100%;
    background-image: url("../image/beard1.jpg");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic1 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}


.pic2 {
    height: 100%;
    width: 100%;
    background-image: url("../image/beard2a.jpg");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic2 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}

.pic3 {
    height: 100%;
    width: 100%;
    background-image: url("../image/beard3b.jpg");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
    }


.card:hover .pic3 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}

.card .media-link {
    position: absolute;
    bottom:-70px;
    font-size: 25px;
    color: #B82601;
    background: #494E6B;
    width: 100%; 
    padding: 12px 4px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.history {
    position: relative;
    width: 100%;
    background: #192231;
    top: 5px;
   
}

.abt-hdr {
    text-align: center;
    text-justify: center;
    color: #B82601;
    font-family: "Cinzel", sans-serif;
    font-weight: bolder;
    letter-spacing: 4px;
}

.about {
    font-family: "Cinzel", sans-serif;
    font-size: 1rem;
    color: #fff;

}

/*-------------------------------------------------------------------------*/
/*----------------------------------------------------------CONTACT.HTML */

.booking-box .appointment {
    font-family: "Cinzel", sans-serif;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #e3e3e3;
}

.booking-box .apt-text {
    color: #e3e3e3;
    font-size: 1rem;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   text-align: justify; 
}

.booking-box .book-btn {
    color: #fff;
    padding: 6px 15px 6px 15px;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 2px;
    background: #494E6B;;
    border: 1px solid #000;
    text-transform: uppercase;
   }


.booking-box a:hover {
    color: silver;
}

.cont-sctn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    width: 100%;
    background: url("../image/leather.jpg");
    background-size: cover;
    position: relative;
    top: 5px;
    margin-bottom: 80px;
}

.contact-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 20px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-container .form-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-container .form-box form {
    position: relative;
    width: 100%;
    padding: 0 0 0 75px;
}

.contact-container .form-box .form-style h3 {
    color:#e3e3e3; 
    font-weight: 500;
    font-size: 2rem;
    font-family: "Cinzel", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}


.contact-container .form-box .form-style .inputbox {
    position: relative;
    margin-bottom: 40px;
}

.contact-container .form-box .form-style .inputbox:last-child    {
    margin-bottom: 0px;
}

.contact-container .form-box .form-style .inputbox input,
.contact-container .form-box .form-style .inputbox textarea {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color:#000; 
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid #CAEBF2;
    resize: none;
}

.contact-container .form-box .form-style .inputbox textarea {
    height: 100px;    
}

.contact-container .form-box .form-style .inputbox input[type="submit"] {
    background: #A9A9A9; ;
    padding: 8px 20px;
    margin-top: -10px;
    width: 100px;
    cursor: pointer;
    color: #FFF; 
    font-size: 18px;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.contact-container .form-box .form-style .inputbox input[type="submit"]:focus {
    background: #3f3e3e;
    color: #fff;
    box-shadow: 0 5px #B82601;
    transform: translateY(4px);
}

.contact-container .form-box .form-style .inputbox span {
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    color: #A9A9A9;
    transition: all 0.2s ;
}

.contact-container .form-box .form-style .inputbox input:focus ~ span ,
.contact-container .form-box .form-style .inputbox textarea:focus ~ span,
.contact-container .form-box .form-style .inputbox input:valid ~ span,
.contact-container .form-box .form-style .inputbox textarea:valid ~ span {
    transform: translateY(-24px);
    color: #B82601;
    font-size: 14px;
}

.contact-container .form-box .form-style .inputbox input:focus,
.contact-container .form-box .form-style .inputbox textarea:focus,
.contact-container .form-box .form-style .inputbox input:valid,
.contact-container .form-box .form-style .inputbox textarea:valid {

    border-bottom-color: #B82601; ;
}


/*-------------------------------------------------------------------------*/


/*=========================================================Footer*/
.site-footer {
    position: relative;
   bottom: 0;
}


.site-footer container
{
  position:relative;
  bottom: 0;
 }


.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}


.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:5px;
  margin-right:0;
  border-radius:100%;
  background-color: #B82601;
}
.copyright-text
{
    font-weight: bolder;
  margin:0
}

.copyright-text a:hover {
    color: #CAEBF2;
}


@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color: silver;
  font-size:20px;
  display:inline-block;
  line-height:44px;
  width:24px;
  height:24px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color: #CAEBF2;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:24px;
  width:24px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.instagram:hover
{
  background-color:#007bb6
}
.social-icons a.youtube:hover
{
  background-color:#282828
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }


/*----------------------------------------------------------FOOTER AREA 
.ftr-box {
  position: relative;
  width: 100%;
  height: 125px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  padding-top: 10px; 
}

.social-icons{
margin-left: 20px;
} 

.social-icons i {
   font-size: 28px;
   color:#B82601;
   text-decoration: none; 
   line-height: 2;
   letter-spacing: 20px;
   align-content: center;
   text-align: justify;
   
}

.social-icons a:hover{
    transition: ease;
    opacity: 0.5;
    transition-duration: 1s;
    -moz-transition: ease 1s;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
}

.social-icons a{
    text-decoration: none;
}

.ftr-box .address {
    font-family: "Cinzel", sans-serif;
    color: #98878f;
    text-align: right;
}

.ftr-box .address ul {
    color: #B82601;
    font-weight: bold;
    margin-right: 20px;
}

.ftr-box .address ul li {
    list-style: none;
    font-style: italic;
    letter-spacing: 2px;
    margin-right: 20px;
    font-size: 1.25vh;
   
}


-------------------------------
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------GENERAL MEDIA QUERY */

@media screen and (max-width: 993px) {
  
}



@media screen and (max-width: 400px) {

    .logo-box {
    letter-spacing: 3px;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 1px 1px #000;
    padding-left: 15px;
    }

.hedgehog {
    font-size: 18px;
    font-weight: bolder;
}

.shop {
    font-size: 13px;
}

.hero-text .intro-text { 
   display: none;
   }



.ftr-box {
    height: 100px;
    margin: 0;
    padding-top: 2px;
}

.ftr-box .social {
        display: flex;
        align-items: center;
        justify-content: center;
}

.ftr-box .address ul {
    padding-left: 0;
    margin-right: 0;
}

.ftr-box .address ul li {
    font-size: 8px;
}

.ftr-box .address {
    text-align: center;
    text-justify: center;
    font-style: normal;
}

.social .social-icons {
    margin: 0px;
    align-items: center;
    justify-content: center;
}
.social-icons i {
   font-size: 30px;
   align-content: center;
   text-align: center;
   text-justify: center;   
}

.mktg-text .middle {
    font-size: 65%;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.services-hdr {
    font-size: 20px;
}

.cont-sctn {
    min-height: 200vh;
    align-items: unset;
}

.booking-box {
    margin-bottom: 40px;
}

.booking-box .appointment {
    font-size: 16px;
    font-weight: bolder;
}

.glry-container {
    width: 100%;
    padding: 0px;
}

.hero-image3 {
       min-height: 340vh;
}

.abt-hdr {
   font-size: 1.5rem;
}

.history .about {
    font-family: "Cinzel", sans-serif;
    font-size: 1rem;
    color: #fff;

}

.history .about {
    font-size: 0.75rem;
}


.booking-box .apt-text {
    font-size: 10px;
}

.contact-container .form-box .form-style h3 {
    color:#e3e3e3; 
    font-weight: 500;
    font-size: 1.5rem;
}
.contact-container .form-box form {
    padding: 0px;
}

.contact-container .form-box .form-style .inputbox input[type="submit"] {
    font-size: 14px;
}

}


